---
import Layout from '../layouts/Layout.astro';
import { getCollection } from 'astro:content';
import Prose from '../components/Prose.astro';

const allBlogPosts = await getCollection('blog');
---

<Layout title="Tobiesen.com" description="Personal Website of Evan Tobiesen">
	<Prose>
		<h1>¡Hey!</h1>
		<p>
		    I’m Even Tobiesen. I lead software projects at Automattic, focusing on growth, hiring, and MarTech for WordPress.com.
		</p>
		<p>
		    I’m into home automation, building cool stuff (in code or otherwise), cars, and finding excuses to travel. Originally from Norway, I’ve been living in exile near Barcelona with my wife for over a decade.
		</p>
		<p>
		    Here, I (infrequently) share tech tips, programming thoughts, and the occasional travel photo.
		</p>
		<h2>My latest posts</h2>
		<ul>
			{
				allBlogPosts.map((post) => (
					<li>
						<a href={`/${post.slug}`}>{post.data.title}</a>
					</li>
				))
			}
		</ul>
	</Prose>
</Layout>
