---
import Layout from '../layouts/Layout.astro';
import Prose from '../components/Prose.astro';
---

<Layout title="Tobiesen.com" description="Personal Website of Even Tobiesen">
	<Prose>
		<h1>Now</h1>
		<p>
			Inspired by <a href="https://sive.rs/now">Derek Sivers</a> and <a href="https://nownownow.com"
				>Nownownow.com</a
			>. Updated Monday May 20th 2024 from Barcelona, Spain. This page will highlight some of the
			things I'm up to nowadays, but for now it's just a stub page to test out Astro.
		</p>
	</Prose>
</Layout>
