---
---
<div
  class="
  prose prose-sm prose-table:table-fixed lg:prose-lg xl:prose-xl mx-auto mt-8
  prose-slate
  dark:prose-invert
  prose-h1:font-semibold prose-h1:text-xxl
  rose-p:text-justify prose-img:rounded-xl">
  <slot />
</div>
