---

---

<div
	class="prose-h1:text-xxl rose-p:text-justify prose prose-sm prose-slate mx-auto mt-8
  lg:prose-lg
  xl:prose-xl
  dark:prose-invert prose-h1:font-semibold
  prose-table:table-fixed prose-img:rounded-xl"
>
	<slot />
</div>
